
<style>
  body {
      font-size:13px; 
      font-family:verdana;
  };

  p {
      margin: 3px !important;
  };
</style>
<div style="font-size:13px; font-family:verdana">
<div>
    <p>Dear, <%= user.firstName %></p>
    <p>Your password on the <%= applicationTitle %> assessment system has been reset.</p>    
    <p>Below is a reset password link that you can use to reset your password.</p>
    <p>Click the link to <a clicktracking="off" href="<%= resetLink %>"> reset your password</a></p>
    <p>Thank you <%= applicationTitle %> Team.</p>
    <p>
      <img src="<%= partner.themeOptions.assets.emailLogo %>" alt="<%= applicationTitle %>" style="width: 200px" />
    </p>  
    <p>
      <small><i>The TowerStone assessment platform requires that you use a modern browser on your computer, smartphone or tablet device. Internet Explorer 11, Edge and the latest versions of Firefox and Chrome are fully supported.  Older versions of Internet Explorer 8,9, 10 are unfortunately not supported.</i></small>
    </p>  
  </div>