<style>
    p {
      margin: 3px !important;
    };
</style>
<div style="font-size:13px;font-family:verdana,geneva,sans-serif;">	
<p>Dear <%= nominee.firstName %>,</p>
<br />
<p>You have been nominated to assess how <%= employee.firstName %> <%= employee.lastName %> shows up as a leader i.e. how well or poorly <%= employee.firstName %> displays the <%= organization.name %> Leadership Brand behaviours.</p>
<br />
<p>If the system randomly selects you as one of the final assessors, you will receive an email with login details when the online assessment launches.</p> 
<br />
<p>Thank you and warmest regards,<br/>
TowerStone Leadership Centre Assessment team</p>
<img alt="TowerStone" src="<%= partner.themeOptions.assets.emailLogo %>" style="width: 200px;" width="200px" />
<p>
  <small><i>The TowerStone assessment platform requires that you use a modern browser on your computer, smartphone or tablet device. Internet Explorer 11, Edge and the latest versions of Firefox and Chrome are fully supported.  Older versions of Internet Explorer 8,9, 10 are unfortunately not supported.</i></small>
</p>
</div>
