<style>
    body {
        font-size:13px; 
        font-family:verdana;
    };

    p {
        margin: 3px !important;
    };
</style>
<div style="font-size:13px; font-family:verdana">
	<p>Dear&nbsp;<%= delegate.firstName %>,</p>
	<br/>
	<p>TowerStone Leadership Centre will shortly launch a 360° Leadership Brand assessment for <%= organization.name %>.</p>
	<br/>
	<p>As one of the team members who will be assessed, you are required to nominate your leader and six peers/direct reports.</p>
	<br/>
	<p>We suggest that you request the support of your nominees personally beforehand as you are more likely to receive considered feedback that can be used constructively to improve your leadership.</p>
	<br/>
	<p>The assessment feedback will provide you with insight into your alignment to your organisations' values by reporting on how you show up as a leader i.e. how well or poorly you display the <%= organization.name %> Leadership Brand behaviours.</p>
	<br/>
	<p>Please nominate those whom you would like to assess you as soon as possible, or confirm your existing list of nominees if you have previously submitted, by <a clicktracking="off" href="<%= link %>" target="_blank">clicking here</a>.</p>
	<br/>
	<p>When you confirm your nominations, the system will send a notification to each nominee, indicating that you have nominated them. Once we have your nominees confirmed, we will send an instruction email with a link to those who are randomly chosen by the system, to complete the survey, You will also receive an instruction email as you will be required to complete a self-assessment for comparison with your nominees.</p>
	<br/>
	<p>A TowerStone facilitator will present the anonymous results to you in a report and will assist you to develop a Personal Action Plan for the way forward.</p>
	<br/>
	<p>The report will include the average assessor ratings with qualitative comments, compared with your self-assessment, as well as your overall leadership score.</p>
	<br/>
	<p>Please do not hesitate to reply to this mail if you have any questions.</p>
	<br/>
	<p>
		Warmest regards,<br />
		The Assessment Team<br />
		<img alt="TowerStone" src="<%= partner.themeOptions.assets.emailLogo %>" style="width: 200px;" width="200px" />
	</p>
	<br/>
	<p>
		<small><i>The TowerStone assessment platform requires that you use a modern browser on your computer, smartphone or tablet device. Internet Explorer 11, Edge and the latest versions of Firefox and Chrome are fully supported.  Older versions of Internet Explorer 8,9, 10 are unfortunately not supported.</i></small>
	</p>
</div>